<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
        crossorigin="anonymous">
    <title>Document</title>
</head>


<body style="overflow-x: hidden;">

    <div style="background-color:rgb(231, 247, 91);  ">
        <h2 class="pt-5"><img src="https://cdn.pixabay.com/photo/2012/04/26/18/41/banana-42793_960_720.png" alt=""
                width="100px;"> <span style="color: chartreuse">Banana</span><span class="text-white">Torrent</span>
            <img src="https://cdn.pixabay.com/photo/2012/04/26/18/41/banana-42793_960_720.png" alt="" width="100px;"
                style="transform: scaleX(-1);"></h2>






        <form class="form-inline my-2 my-lg-0 pt-2 ml-2 " action="/search" method="get">
            <input class="form-control mr-sm-2" name="query" type="text" placeholder="All Movies HD AND NO VIRUS"
                aria-label="Search" style="width:700px;">
            <button class="btn text-white" style="background-color:rgb(194, 191, 11)" type="submit">Search</button>
        </form>

        <nav class="navbar navbar-expand-lg  mt-3" style="background-color:rgb(226, 247, 37)">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link text-white" href="/" style="text-shadow:1px 1px 4px  black">Home </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/trending/1" style="text-shadow:1px 1px 4px  black">Trending</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/year/1" style="text-shadow:1px 1px 4px  black">Year</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/rating/1" style="text-shadow:1px 1px 4px  black">Rating</a>
                    </li>


                </ul>

            </div>
        </nav>

    </div>

    <h1 class="text-center">{{data.title}}</h1>
    <h4 class="text-center">Download</h4>
    <div class="text-center">
        <a href="{{data.torrents.en.1080p.url}}">1080p</a>
        <a href="{{data.torrents.en.720p.url}}">720p</a>
    </div>
</body>

</html>