<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="google-site-verification" content="r1PF6giGXYRWFNm8_wLzPAv8q325Hx4tJ5Hc1iAOxXI" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
        crossorigin="anonymous">
    <title>Document</title>
</head>

<body style="overflow-x: hidden;background-color:rgb(231, 247, 91); ">
    <div class="text-center " style="margin-top:10%">
        <h2 class="pt-5 "><img src="https://cdn.pixabay.com/photo/2012/04/26/18/41/banana-42793_960_720.png" alt=""
                width="100px;">
            <span style="color: chartreuse">Banana</span><span class="text-white">Torrent</span>
            <img src="https://cdn.pixabay.com/photo/2012/04/26/18/41/banana-42793_960_720.png" alt="" width="100px;"
                style="transform: scaleX(-1);"></h2>
    </div>
    <div class="container mt-4" style="width:50%;">
        <form class="form-inline my-2 my-lg-0 pt-2 ml-2 " action="/search" method="get">
            <input class="form-control mr-sm-2" name="query" type="text" placeholder="Only HD Movies" aria-label="Search"
                style="width:800px;">
        </form>

        <div class="row">
            <div class="col-md-6">
                <a class="nav-link text-white" href="/trending/1" style="text-shadow:1px 1px 4px  black">Top movies By
                    Trending
                </a>
            </div>
            <div class="col-md-6">
                <a class="nav-link text-white text-right" href="/" style="text-shadow:1px 1px 4px  black"> Last Add
                    Movies</a>
            </div>
        </div>

    </div>




</body>

</html>